<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Dui</th>
            <th>Expediente</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente.id }}</td>
            <td>{{ paciente.dui }}</td>
            <td>{{ paciente.expediente }}</td>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.fecha ? paciente.fecha|date('Y-m-d') : '' }}</td>
            <td>{{ paciente.direccion }}</td>
            <td>{{ paciente.telefono }}</td>
            <td>
                <a href="{{ path('paciente_show', {'id': paciente.id}) }}">show</a>
                <a href="{{ path('paciente_edit', {'id': paciente.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ path('paciente_new') }}">Create new</a>
