<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>DUI</th>
            <th>Expediente</th>
            <th>Nombre Completo</th>
            <th>Fecha de nacimiento</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente.id }}</td>
            <td>{{ paciente.dui }}</td>
            <td>{{ paciente.expediente }}</td>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.fecha ? paciente.fecha|date('d-m-Y') : '' }}</td>
            <td>{{ paciente.direccion }}</td>
            <td>{{ paciente.telefono }}</td>
            <td>
                <a class="btn btn-secondary btn-sm" href="{{ path('paciente_show', {'id': paciente.id}) }}">show</a>
                <a class="btn btn-secondary btn-sm" href="{{ path('paciente_edit', {'id': paciente.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">No hay registros encontrados</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

